---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/user/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 1a490f85-e728-4c98-8993-8dce7f3813e7
      X-Shutterstock-Resource:
      - "/v2/user/subscriptions"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 4978025129d5563dbdc2c46adf80d919
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"s29729296","expiration_time":"2016-12-28T09:36:49-05:00","license":"standard","description":"Monthly
        Subscription","formats":[{"size":"huge","format":"jpg","media_type":"image","min_resolution":4000000,"description":"Huge"},{"size":"medium","format":"jpg","media_type":"image","min_resolution":1000,"description":"Med"},{"size":"supersize","format":"jpg","media_type":"image","min_resolution":16000000,"description":"Super"},{"size":"small","format":"jpg","media_type":"image","min_resolution":500,"description":"Small"},{"size":"vector","format":"eps","media_type":"image","description":"Vector"}]},{"id":"s14235337","expiration_time":"2015-08-08T22:43:27-04:00","license":"standard","descript[...]
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"42194962"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 4cc1f761-864a-4088-84b4-a6ee716ede5d
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"42194962","download":{"url":"https://download.shutterstock.com/gatekeeper/W3siZSI6MTQ4Mzg5MDk2MywiayI6InBob3RvLzQyMTk0OTYyL2h1Z2UuanBnIiwibSI6IjEiLCJkIjoic2h1dHRlcnN0b2NrLW1lZGlhIn0sIjlyTVNtWDdQbGVZMktLYU1uK2V6ck5sMFZKTSJd/shutterstock_42194962.jpg"},"allotment_charge":1}]}'
  recorded_at: Sun, 08 Jan 2017 07:56:04 GMT
recorded_with: VCR 3.0.3
