---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"509205923049"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - e7d36b54-bf7b-46b7-b2cd-7c6e2f3b6896
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"509205923049","error":"Media unavailable"}],"errors":[{"message":"Failed
        to license 1 image","items":[{"image_id":"509205923049","index":0}]}]}'
  recorded_at: Sun, 08 Jan 2017 07:28:55 GMT
recorded_with: VCR 3.0.3
