---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?subscription_id=s987654
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"138869051"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - fb9372d2-7256-4a17-a1ab-592d18643883
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"138869051","error":"Subscription is unusable"}],"errors":[{"message":"Failed
        to license 1 image","items":[{"image_id":"138869051","index":0}]}]}'
  recorded_at: Sun, 08 Jan 2017 06:44:14 GMT
recorded_with: VCR 3.0.3
