---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?format=tiff&size=small&subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"157910507"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 273f10b4-3fc4-419a-8f57-8425f3f2f5a9
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"code":"VALIDATION_ENUM_MISMATCH","message":"No
        enum match (tiff), expects: eps, jpg","data":"tiff","path":"$.query.format"}]}'
  recorded_at: Sun, 08 Jan 2017 06:44:23 GMT
recorded_with: VCR 3.0.3
