---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"204501694"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 1bcaa8e7-b52b-45ba-8855-00af6d99f5f7
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-742
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"204501694","error":"Editorial status must be
        acknowledged"}],"errors":[{"message":"Failed to license 1 image","items":[{"image_id":"204501694","index":0}]}]}'
  recorded_at: Thu, 12 Jan 2017 03:08:45 GMT
recorded_with: VCR 3.0.3
