---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?format=jpg&size=small&subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"157910507"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 10889f7f-4b44-4fbe-8397-d11af4ee8b38
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"157910507","download":{"url":"https://download.shutterstock.com/gatekeeper/W3siZSI6MTQ4Mzg4NjY2MiwiayI6InBob3RvLzE1NzkxMDUwNy9zbWFsbC5qcGciLCJtIjoiMSIsImQiOiJzaHV0dGVyc3RvY2stbWVkaWEifSwiNll5djVzb1NvTG02ZVA5cHhCcTZsQThlZjQwIl0/shutterstock_157910507.jpg"},"allotment_charge":0}]}'
  recorded_at: Sun, 08 Jan 2017 06:44:22 GMT
recorded_with: VCR 3.0.3
