---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?format=jpg&size=huge&subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"138869051"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 36f207b1-1645-43e9-8be7-2ad2232ab77c
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"138869051","download":{"url":"https://download.shutterstock.com/gatekeeper/W3siZSI6MTQ4Mzg4NjY1NiwiayI6InBob3RvLzEzODg2OTA1MS9odWdlLmpwZyIsIm0iOiIxIiwiZCI6InNodXR0ZXJzdG9jay1tZWRpYSJ9LCJ6T3dIYUVuNXpDMm11Q0wxSFhtRG5LSDlvWDQiXQ/shutterstock_138869051.jpg"},"allotment_charge":1}]}'
  recorded_at: Sun, 08 Jan 2017 06:44:17 GMT
recorded_with: VCR 3.0.3
