---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?format=jpg&size=huge&subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"157910507"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 37b20afb-b2df-4a68-ba40-dd1b65b7e99c
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"157910507","download":{"url":"https://download.shutterstock.com/gatekeeper/W3siZSI6MTQ4Mzg4NjY1OSwiayI6InBob3RvLzE1NzkxMDUwNy9odWdlLmpwZyIsIm0iOiIxIiwiZCI6InNodXR0ZXJzdG9jay1tZWRpYSJ9LCJobTY4L3ZXZWhMcms2SUJYNmcwWWlVL0t1U2ciXQ/shutterstock_157910507.jpg"},"allotment_charge":1}]}'
  recorded_at: Sun, 08 Jan 2017 06:44:20 GMT
recorded_with: VCR 3.0.3
