---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/licenses?format=jpg&size=huge&subscription_id=s30187600
    body:
      encoding: UTF-8
      string: '{"images":[{"image_id":"145104193"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 6e0a4949-a7ab-4cbf-9bec-755f7169b832
      X-Shutterstock-Resource:
      - "/v2/images/licenses"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"image_id":"145104193","download":{"url":"https://download.shutterstock.com/gatekeeper/W3siZSI6MTQ4Mzg4NzgxMywiayI6InBob3RvLzE0NTEwNDE5My9odWdlLmpwZyIsIm0iOiIxIiwiZCI6InNodXR0ZXJzdG9jay1tZWRpYSJ9LCJPN0ZwMDA5VHBGWEhjd1FxbTluN3pOaUdIMlUiXQ/shutterstock_145104193.jpg"},"allotment_charge":1}]}'
  recorded_at: Sun, 08 Jan 2017 07:03:33 GMT
recorded_with: VCR 3.0.3
