---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/search?query=purple%20cat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 72ccc96b-b412-4dbb-887d-24448d6e6e3e
      X-Shutterstock-Resource:
      - "/v2/images/search"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 9ab653b559e33fa7f00df116747fcec6
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":20,"total_count":8265,"search_id":"sEh1B-bfjNZZgT2FeGyuTw","data":[{"id":"431931730","aspect":1,"assets":{"preview":{"height":450,"url":"https://image.shutterstock.com/display_pic_with_logo/3092624/431931730/stock-vector-vector-illustration-of-a-cute-smiling-purple-fat-cat-fat-striped-cat-walking-proudly-431931730.jpg","width":450},"small_thumb":{"height":100,"url":"https://thumb1.shutterstock.com/thumb_small/3092624/431931730/stock-vector-vector-illustration-of-a-cute-smiling-purple-fat-cat-fat-striped-cat-walking-proudly-431931730.jpg","width":100},"large_thumb":{"height":150,"url":"https://thumb1.shutterstock.com/thumb_large/3092624/431931730/stock-vector-vector-illustration-of-a-cute-smiling-purple-fat-cat-fat-striped-cat-walking-proudly-431931730.jpg","width":150}},"contributor":{"id":"3092624"},"description":"Vector
        illustration of a cute smiling purple fat cat. Fat striped cat walking proudly","image_type":"vector","media_type":"image"},{"id":"482125933","aspect":1.5098,"assets":{"preview":{"height":298,"url":"https://image.shutterstock.com/display_pic_with_logo/1355566/482125933/stock-photo-striped-cat-sitting-in-cat-toilet-isolated-on-a-white-background-482125933.jpg","width":450},"small_thumb":{"height":66,"url":"https://thumb10.shutterstock.com/thumb_small/1355566/482125933/stock-photo-striped-cat-sitting-in-cat-toilet-isolated-on-a-white-background-482125933.jpg","width":100},"large_thumb":{"height":99,"url":"http[...]
