---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/search?people_age=teenagers&query=laughing&sort=popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 4fbd06f5-a0e5-4b82-9f2c-cabd4ff49f67
      X-Shutterstock-Resource:
      - "/v2/images/search"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - cc9a85a7b56ed9ea0d3ee652063bf670
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":20,"total_count":89956,"search_id":"u_xVlZeatnlK_EqEQgDYpA","data":[{"id":"335751920","aspect":2.5823,"assets":{"preview":{"height":174,"url":"https://image.shutterstock.com/display_pic_with_logo/160669/335751920/stock-photo-laughing-people-335751920.jpg","width":450},"small_thumb":{"height":39,"url":"https://thumb1.shutterstock.com/thumb_small/160669/335751920/stock-photo-laughing-people-335751920.jpg","width":100},"large_thumb":{"height":58,"url":"https://thumb1.shutterstock.com/thumb_large/160669/335751920/stock-photo-laughing-people-335751920.jpg","width":150}},"contributor":{"id":"160669"},"description":"Laughing
        people","image_type":"photo","media_type":"image"},{"id":"332500766","aspect":1.5,"assets":{"preview":{"height":300,"url":"https://image.shutterstock.com/display_pic_with_logo/1078427/332500766/stock-photo-happy-girl-laughing-against-a-colorful-tiles-background-concept-of-joy-332500766.jpg","width":450},"small_thumb":{"height":67,"url":"https://thumb9.shutterstock.com/thumb_small/1078427/332500766/stock-photo-happy-girl-laughing-against-a-colorful-tiles-background-concept-of-joy-332500766.jpg","width":100},"large_thumb":{"height":100,"u[...]
