---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/32329852
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 02b64a75-fec9-4298-a4be-fd4cd3f550d0
      X-Shutterstock-Resource:
      - "/v2/images/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 3b68e77b47065984408d771b7b1af2bf
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"32329852","added_date":"2009-06-19","aspect":0.6667,"assets":{"small_jpg":{"display_name":"Small","dpi":72,"file_size":147456,"format":"jpg","height":500,"is_licensable":true,"width":333},"medium_jpg":{"display_name":"Med","dpi":300,"file_size":424960,"format":"jpg","height":1000,"is_licensable":true,"width":667},"huge_jpg":{"display_name":"Huge","dpi":300,"file_size":2125824,"format":"jpg","height":3480,"is_licensable":true,"width":2320},"supersize_jpg":{"display_name":"Super","dpi":300,"file_size":5022216,"format":"jpg","height":6960,"is_licensable":false,"width":4640},"huge_tiff":{"display_name":"Huge","dpi":300,"file_size":24220800,"format":"tiff","height":3480,"is_licensable":false,"width":2320},"supersize_tiff":{"display_name":"Super","dpi":300,"file_size":96883200,"format":"tiff","height":6960,"is_licensable":false,"width":4640},"preview":{"height":450,"url":"https://image.shutterstock.com/display_pic_with_logo/130585/130585,1245447002,2/stock-photo-orange-beach-umbrella-over-blue-sky-background-space-for-copy-jpeg-file-with-clipping-path-32329852.jpg","width":300},"small_thumb":{"height":100,"url":"https://thumb9.shutterstock.com/thumb_small/130585/130585,1245447002,2/stock-photo-orange-beach-umbrella-over-blue-sky-background-space-for-copy-jpeg-file-with-clipping-path-32329852.jpg","width":67},"large_thumb":{"height":150,"url":"https://thumb9.shutterstock.com/thumb_large/130585/130585,1245447002,2/stock-photo-orange-beach-umbrella-over-blue-sky-background-space-for-copy-jpeg-file-with-clipping-path-32329852.jpg","width":100}},"categories":[{"id":"18","name":"Sports/Recreation"},{"id":"9","name":"Objects"}],"contributor":{"id":"130585"},"description":"Orange
        beach umbrella over blue sky background. Space for copy. Jpeg file with clipping
        path included.","image_type":"photo","is_adult":false,"keywords":["beach","blue","card","clear","copy","cut","fun","greeting","holiday","isolated","leisure","marine","object","orange","outdoor","parasol","relax","relaxation","sea","seashore","seaside","season","seasonal","sky","space","summer","sun","sunlight","tourism","travel","umbrella","vacation","vertical","yellow"],"media_type":"image"}'
  recorded_at: Sat, 07 Jan 2017 13:53:47 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/32329852/similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 9cf1146c-7976-4728-84bb-43c04be63000
      X-Shutterstock-Resource:
      - "/v2/images/:id/similar"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - e0100d48cdc43982d2e054b0f8308045
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":20,"total_count":200,"search_id":"","data":[{"id":"431539351","aspect":1,"assets":{"preview":{"height":450,"url":"https://image.shutterstock.com/display_pic_with_logo/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":450},"small_thumb":{"height":100,"url":"https://thumb7.shutterstock.com/thumb_small/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":100},"large_thumb":{"height":150,"url":"https://thumb7.shutterstock.com/thumb_large/4003[...]
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/431539351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 7af2ed8f-3452-49eb-84f4-97e4ab5ac955
      X-Shutterstock-Resource:
      - "/v2/images/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 74a9c2c8811c2116d61a7c77d443b199
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"431539351","added_date":"2016-06-05","aspect":1,"assets":{"huge_jpg":{"display_name":"Huge","dpi":300,"file_size":592896,"format":"jpg","height":5000,"is_licensable":false,"width":5000},"vector_eps":{"display_name":"Vector","format":"eps","is_licensable":true},"preview":{"height":450,"url":"https://image.shutterstock.com/display_pic_with_logo/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":450},"small_thumb":{"height":100,"url":"https://thumb7.shutterstock.com/thumb_small/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":100},"large_thumb":{"height":150,"url":"https://thumb7.shutterstock.com/thumb_large/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":150}},"categories":[{"id":"6","name":"Food
        and Drink"},{"id":"9","name":"Objects"}],"contributor":{"id":"4003009"},"description":"Hot
        dog fast food. Vector illustration. Flat icon.","image_type":"vector","is_adult":false,"is_illustration":true,"keywords":["american","appetizer","bar","barbecue","bread","bun","burger","cartoon","character","comic","consumer","delicious","dinner","drawing","eat","fast","flat","food","friends","graphic","grilled","hamburger","hot","hotdog","illustration","image","isolated","ketchup","lunch","meal","meat","menu","mustard","picnic","poster","restaurant","retro","sale","sandwich","sauce","sausage","sign","snack","strip","symbol","takeaway","template","tomato"],"media_type":"image"}'
  recorded_at: Sat, 07 Jan 2017 13:53:50 GMT
[...]
