---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/32329852
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - c3807078-42a0-4ee2-a16f-2403eca73b7c
      X-Shutterstock-Resource:
      - "/v2/images/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 3b68e77b47065984408d771b7b1af2bf
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"32329852","added_date":"2009-06-19","aspect":0.6667,"assets":{"small_jpg":{"display_name":"Small","dpi":72,"file_size":147456,"format":"jpg","height":500,"is_licensable":true,"width":333},"medium_jpg":{"display_name":"Med","dpi":300,"file_size":424960,"format":"jpg","height":1000,"is_licensable":true,"width":667},"huge_jpg":{"display_name":"Huge","dpi":300,"file_size":2125824,"format":"jpg","height":3480,"is_licensable":true,"width":2320},"supersize_jpg":{"display_name":"Super","dpi":300,"file_size":5022216,"format":"jpg","height":6960,"is_licensable":false,"width":4640},"huge_tiff":{"display_name":"Huge","dpi":300,"file_size":24220800,"format":"tiff","height":3480,"is_licensable":false,"width":2320},"supersize_tiff":{"display_name":"Super","dpi":300,"file_size":96883200,"format":"tiff","height":6960,"is_licensable":false,"width":4640},"preview":{"height":450,"url":"https://image.shutterstock.com/display_pic_with_logo/130585/130585,1245447002,2/stock-photo-orange-beach-umbrella-over-blue-sky-background-space-for-copy-jpeg-file-with-clipping-path-32329852.jpg","width":300},"small_thumb":{"height":100,"url":"https://thumb9.shutterstock.com/thumb_small/130585/130585,1245447002,2/stock-photo-orange-beach-umbrella-over-blue-sky-background-space-for-copy-jpeg-file-with-clipping-path-32329852.jpg","width":67},"large_thumb":{"height":150,"url":"https://thumb9.shutterstock.com/thumb_large/130585/130585,1245447002,2/stock-photo-orange-beach-umbrella-over-blue-sky-background-space-for-copy-jpeg-file-with-clipping-path-32329852.jpg","width":100}},"categories":[{"id":"18","name":"Sports/Recreation"},{"id":"9","name":"Objects"}],"contributor":{"id":"130585"},"description":"Orange
        beach umbrella over blue sky background. Space for copy. Jpeg file with clipping
        path included.","image_type":"photo","is_adult":false,"keywords":["beach","blue","card","clear","copy","cut","fun","greeting","holiday","isolated","leisure","marine","object","orange","outdoor","parasol","relax","relaxation","sea","seashore","seaside","season","seasonal","sky","space","summer","sun","sunlight","tourism","travel","umbrella","vacation","vertical","yellow"],"media_type":"image"}'
  recorded_at: Sat, 07 Jan 2017 13:37:12 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/32329852/similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - aeb84241-4bf5-41fc-9b01-d3f8e11f1857
      X-Shutterstock-Resource:
      - "/v2/images/:id/similar"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - e0100d48cdc43982d2e054b0f8308045
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":20,"total_count":200,"search_id":"","data":[{"id":"431539351","aspect":1,"assets":{"preview":{"height":450,"url":"https://image.shutterstock.com/display_pic_with_logo/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":450},"small_thumb":{"height":100,"url":"https://thumb7.shutterstock.com/thumb_small/4003009/431539351/stock-vector-hot-dog-fast-food-vector-illustration-flat-icon-431539351.jpg","width":100},"large_thumb":{"height":150,"url":"https://thumb7.shutterstock.com/thumb_large/4003[...]
