---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/user/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 7f2dcd24-eb12-4041-be26-8b7f9c15fec7
      X-Shutterstock-Resource:
      - "/v2/user/subscriptions"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - d755d0bb5e116746e5d1f07b5cd08591
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"s29729296","expiration_time":"2016-12-28T09:36:49-05:00","license":"standard","description":"Monthly
        Subscription","formats":[{"size":"huge","format":"jpg","media_type":"image","min_resolution":4000000,"description":"Huge"},{"size":"medium","format":"jpg","media_type":"image","min_resolution":1000,"description":"Med"},{"size":"supersize","format":"jpg","media_type":"image","min_resolution":16000000,"description":"Super"},{"size":"small","format":"jpg","media_type":"image","min_resolution":500,"description":"Small"},{"size":"vector","format":"eps","media_type":"image","description":"Vector"}]},{"id":"s14235337","expiration_time":"2015-08-08T22:43:27-04:00","license":"standard","descript[...]
