---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/collections/54321/items
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"123456987654321"}]}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - f7fe0f26-f275-4c58-8e90-6ff0a0dd5aee
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id/items"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Sat, 07 Jan 2017 06:28:40 GMT
recorded_with: VCR 3.0.3
