---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/collections
    body:
      encoding: UTF-8
      string: '{"name":"test_collection"}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 02af797b-58a4-456f-841a-39ec291073b9
      X-Shutterstock-Resource:
      - "/v2/images/collections"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"55301587"}'
  recorded_at: Sat, 07 Jan 2017 06:28:32 GMT
recorded_with: VCR 3.0.3
