---
http_interactions:
- request:
    method: delete
    uri: https://api.shutterstock.com/v2/images/collections/55301587
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-End-User-Request-Id:
      - d2a6809d-df16-4b1c-8001-e0caafdea614
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 07 Jan 2017 06:28:37 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/collections/55301587
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - aa162b42-269b-4d19-9adf-82114a63d4c5
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Sat, 07 Jan 2017 06:28:38 GMT
recorded_with: VCR 3.0.3
