---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/collections/12345678
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 40de1055-48f7-4faa-b47d-011bf59d500a
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"message":"Not Found"}'
  recorded_at: Sat, 07 Jan 2017 06:28:26 GMT
recorded_with: VCR 3.0.3
