---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/collections/23712632
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 633758d6-3c18-430e-b68e-ac71a366502e
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 480fd22d20afa1aea132cf5989173fba
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"23712632","name":"Romantic","total_item_count":28,"items_updated_time":"2017-01-07T01:22:25-05:00","cover_item":{"id":"550104544"}}'
  recorded_at: Sat, 07 Jan 2017 06:28:24 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/collections/23712632/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 04e6a771-8192-41b5-b5f7-df9330aa7348
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id/items"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 7d260e6b03e35f4ca2a77e664d25c23b
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"550104544","added_time":"2017-01-07T00:57:25-05:00"},{"id":"140853793","added_time":"2014-01-16T20:12:17-05:00"},{"id":"114317080","added_time":"2014-01-16T19:20:25-05:00"},{"id":"143450500","added_time":"2014-01-16T19:08:46-05:00"},{"id":"164383604","added_time":"2014-01-16T19:08:26-05:00"},{"id":"92978701","added_time":"2014-01-15T21:12:20-05:00"},{"id":"88028233","added_time":"2014-01-15T20:54:09-05:00"},{"id":"167864858","added_time":"2014-01-15T20:52:29-05:00"},{"id":"167864792","added_time":"2014-01-15T20:52:10-0[...]
