---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/collections/23712632
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - f5694af2-24e3-490a-a9db-a1783f4d8f2e
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 480fd22d20afa1aea132cf5989173fba
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"23712632","name":"Romantic","total_item_count":28,"items_updated_time":"2017-01-07T01:22:25-05:00","cover_item":{"id":"550104544"}}'
  recorded_at: Sat, 07 Jan 2017 06:28:23 GMT
recorded_with: VCR 3.0.3
