---
http_interactions:
- request:
    method: post
    uri: https://api.shutterstock.com/v2/images/collections/55301587
    body:
      encoding: UTF-8
      string: '{"name":"test_collection_new_name"}'
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-End-User-Request-Id:
      - 17c07b03-670f-43fa-9e49-027f706956af
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 07 Jan 2017 06:28:35 GMT
- request:
    method: get
    uri: https://api.shutterstock.com/v2/images/collections/55301587
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - d94b92ac-f6e6-4daf-82e5-e9de322c9997
      X-Shutterstock-Resource:
      - "/v2/images/collections/:id"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 45d404e8218e5da045f7a457ffbe61fb
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"55301587","name":"test_collection_new_name","total_item_count":0,"items_updated_time":"2017-01-07T01:28:34-05:00"}'
  recorded_at: Sat, 07 Jan 2017 06:28:36 GMT
recorded_with: VCR 3.0.3
