---
http_interactions:
- request:
    method: get
    uri: https://api.shutterstock.com/v2/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SSTK_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-End-User-Request-Id:
      - 14264ef9-a6cd-4e16-839e-6de14fc50fc1
      X-Shutterstock-Resource:
      - "/v2/user"
      X-Shutterstock-App-Version:
      - apitwo-739
      Etag:
      - 3ee3c886809982ef657a048c7fa9a2c3
      X-End-User-User-Id:
      - "<SSTK_USER_ID>"
      X-End-User-Client-Id:
      - "<SSTK_CLIENT_ID>"
    body:
      encoding: UTF-8
      string: '{"id":"<SSTK_USER_ID>","username":"<SSTK_USERNAME>","full_name":"<SSTK_FULL_NAME>","first_name":"<SSTK_FIRST_NAME>","last_name":"<SSTK_LAST_NAME>","language":"en","customer_id":"<SSTK_CUSTOMER_ID>","is_premier":false,"only_sensitive_use":false,"only_enhanced_license":false}'
  recorded_at: Sun, 08 Jan 2017 03:48:48 GMT
recorded_with: VCR 3.0.3
